.App {
  text-align: center;
}

.Navbar {
  background-color: darkslategrey;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0% 0% 10% 10%;
}

.Navbar h4 {
  padding: 6px;
  color: tomato;
}

.Navbar a {
  text-decoration: none;
  color: tomato;
  padding: 10px;
}

a.active {
  color: yellow;
  text-decoration: underline;
}
